body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFF;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 15px;
}

.button:hover {
    background-color: #218838; /* Darker shade on hover */
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

.delete-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFF;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.delete-button:hover {
    background-color: #c82333;
}

.update-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFF;
    background-color: #17a2b8; /* Blue color for update button */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.update-button:hover {
    background-color: #138496; /* Darker shade on hover */
}

