<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_form.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add a Post 👉</h1>

        <form method="POST" action="/add">
            <label for="title">Title: </label><br>
            <input type="text" id="title" name="title"><br>
            <label for="author">Author: </label><br>
            <input type="text" id="author" name="author"><br>
            <label for="content">Content: </label><br>
            <input type="text" id="content" name="content"><br><br>
            <input type="submit" value="Post IT!">
        </form>
    </div>
</body>
</html>